.Cards {
  display: flex;
  gap: 15px;
}

.parentContainer {
  width: 100%;
}

.card, .card-body {
  border-radius: 10px;
  /* max-height: 160px; */
}

.larger-text {
 font-size: x-large;
}

.smaller-text {
  font-size: unset !important;
 }

.hello1 {
  background: linear-gradient(180deg, #e31e30 0%, #e31e30  100%);
}

.card1:hover {
  box-shadow: 0px 10px 20px 0px #e31e30;
}

.hello2 {
  background: linear-gradient(180deg, #f9cd32 0%, #f9cd32 100%);
}

.card2:hover {
  box-shadow: 0px 10px 20px 0px #f9cd32;
}

.hello3 {
  background: linear-gradient(
    146.42deg,
    rgba(2,146,222,255) -146.42%,
    rgba(2,146,222,255) -46.42%
  );
}



.card3:hover {
  box-shadow: 0px 10px 20px 0px #0292de;
}

.hello4 {
  background-color: #1712b7;
}

.hello4:hover {
  box-shadow: 0px 10px 20px 0px #1712b7;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
}


@media screen and (max-width: 1200px) {
  .Cards {
    flex-direction: column;
  }
  .parentContainer {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .Cards {
    width: 100%;
  }
}
