.MuiTableRow-root>* {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head>* {
  font-weight: bold !important;
}

.Table td,
th {
  border: none !important;
}
.css-1ygcj2i-MuiTableCell-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 1rem !important;
  /* letter-spacing: 0.01071em; */
  /* display: table-cell; */
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}
.Table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.action {
  padding: 3px 15px;
  margin: 0px 20px;
}


.Details {
  color: #00b5ff !important;
}

.scrollTable {
  margin-left: 0px !important;
}

.scrollTable2 {
  margin-left: 0px !important;
}

@media screen and (max-width: 1200px) {
  .Table {
    width: 170%;
    /* margin-top: 2rem; */
  }
}

.scrollTable {
  margin-left: 0px !important;
}

.scrollTable2 {
  margin-left: 0px !important;
}


@media screen and (max-width: 768px) {

  .scrollTable {
    margin-left: 300px !important;
  }

  .scrollTable2 {
    margin-left: 20px !important;
  }

  .Table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;

  }

  .ctable {
    width: 50%;
  }


}

/* For Verification Page Table */
.three-dots::after {
  cursor: pointer;
  color: #444;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

.dropdown {
  position: absolute;
  right: 10px;
  background-color: white;

  outline: black;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height 5s;
}


.dropdown-container:hover .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}




















.card-stepper {
  z-index: 0
}

#progressbar-2 {
  color: #455A64;
}

#progressbar-2 li {
  list-style-type: none;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar-2 #step1:before {
  content: "\2713";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
  margin-left: 0px;
  padding-left: 0px;
}

#progressbar-2 #step2:before {
  content: "\2713";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
}

#progressbar-2 #step3:before {
  content: "\2713";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
  margin-right: 0;
  text-align: center;
}

#progressbar-2 #step4:before {
  content: "\2713";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
  margin-right: 0;
  text-align: center;
}

#progressbar-2 li:before {
  line-height: 37px;
  display: block;
  font-size: 12px;
  background: #c5cae9;
  border-radius: 50%;
}

#progressbar-2 li:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #c5cae9;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1;
}

#progressbar-2 li:nth-child(1):after {
  left: 1%;
  width: 100%
}

#progressbar-2 li:nth-child(2):after {
  left: 1%;
  width: 100%;
}

#progressbar-2 li:nth-child(3):after {
  left: 1%;
  width: 100%;
  background: #c5cae9 !important;
}

#progressbar-2 li:nth-child(4) {
  left: 0;
  width: 37px;
}

#progressbar-2 li:nth-child(4):after {
  left: 0;
  width: 0;
}

#progressbar-2 li.active:before,
#progressbar-2 li.active:after {
  background: #6520ff;
}